.all-sides {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.more-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    width: 60%;
    gap: 25px;
}

.left-side {
    width: 40%;
    gap: 40px;
}

.social {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.picture-profile {
    margin-left: auto;
    margin-right: auto;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(../img/myself/profile-picture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 5px solid var(--coffee);
}

.social-button {
    width: 75px;
    height: 75px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: var(--rawUmber);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 3px var(--coffee);
}

.social-button:hover {
    background-color: var(--coffee);
    box-shadow: 5px 5px 3px var(--bistre);
}

.social-button .tooltip-container {
    width: 225px;
    height: fit-content;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: -100%;
    display: flex;
    justify-content: center;
}

.social-button .tooltip {
    visibility: hidden;
    width: fit-content;
    background-color: var(--bistre);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.social-button .tooltip::after {
    content: "";
    position: absolute;
    top: 115%;
    left: 45%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bistre) transparent transparent transparent;
}

.social-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.main-info, .main-detail > span, .title-info, .content-info {
    background-color: var(--coffee);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 3px var(--bistre);
}

.main-info {
    font-size: 50px;
}

.main-detail {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.main-detail > span {
    width: 30%;
}

.more-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-info, .right-info {
    width: 49%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
}

.title-info {
    font-size: 20px;
}

.content-info > span > ul {
    font-size: 17px;
    line-height: 50px;
    list-style: none;
}

@media(max-width: 1055px) {
    .all-sides {
        flex-direction: column;
        gap: 50px;
    }

    .left-side, .right-side {
        width: 100%;
    }

    .main-detail {
        flex-direction: column;
        gap: 10px;
    }

    .main-detail > span {
        width: 100%;
    }

    .more-info {
        flex-direction: column;
        gap: 20px;
    }

    .left-info, .right-info {
        width: 100%;
    }    
}