:root {
    /* Couleur pour le site */
    --eerie-black: #1b1b1b;
    --oxford-blue: #192539;
    --yale-blue: #2a3f60;
    --deep-blue: #1F2E47;
    --palatinate-blue: #3238eb;
    --white-smoke: #f2f2f2;
    --font-white: #ffffff;
    --font-black: #000000;

    /* Couleur des langages de programmation */
    --html5: #E34F26;
    --css3: #1572B6;
    --js: #F7DF1E;
    --php: #777BB4;
    --java: #007396;
    --c: #A8B9CC;
    --sql1: #FFA500;
    --sql2: #0070BA;
    --python1: #3776AB;
    --python2: #FFD43B;
    --serveur: #79ba00;
    --github: #1b1b1b;
    --jira: #0052CC;
    --figma1: #FF7262;
    --figma2: #1ABCFE;
    --figma3: #A259FF;
    --figma4: #0ACF83;
    --react: #61DAFB;

    /* Dimension pour la zone projet */
    --project-card: 25vw;
    --bloc-title: calc(var(--project-card)/5*2);
    --project-bloc-card: calc(var(--project-card)*2);
    --project-container-width: calc(var(--project-bloc-card)*1.10);
    --project-container-height: calc(var(--project-card)*1.10);
    --project-bloc-width: calc(var(--project-container-width) + calc(var(--project-card)/2));
    --project-bloc-height: calc(var(--project-container-height) + calc(var(--project-card)/5));

    /* Dimension pour les modals */
    --modal: 850px;

    /* Dimension pour les tuiles */
    --tile: 150px;
    --padding: 10px;
}

.exo-font {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.advent-pro-font {
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--eerie-black);
}

.title-part {
    text-align: center;
    font-size: 6vw;
    color: var(--font-white);
}

.part {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    gap: 50px;
}

@media (max-width: 1450px) {
    :root {
        --project-card: 35vw;
    }

    .part {
        height: 100vh;
    }
}

@media (max-width: 900px) {
    :root {
        --project-card: 60vw;
    }
}